doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500;700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
        title Componentes
    body#main
        main#stars 
            nav.upper-navbar 
                a(href="#").clear-link
                    .odes-navbar 
                        span.odes-navbar__word 
                            .odes-navbar__letter O
                            span.odes-navbar__subword mar
                        span.odes-navbar__word 
                            .odes-navbar__letter D
                            span.odes-navbar__subword aniel
                        span.odes-navbar__word 
                            .odes-navbar__letter E
                            span.odes-navbar__subword squivel
                        span.odes-navbar__word 
                            .odes-navbar__letter S
                            span.odes-navbar__subword 치nchez
                ul.clear-list 
                    li.active: a(href="#").clear-link Inicio
                    li: a(href="#").clear-link Componentes
                    li: a(href="#").clear-link Contacto
            .stars
                .stars__container 
                    .stars__layout
                section.presentation
                    .no-parallax
                        h2 Bienvenidos
                        .parallax__planet
                            img(src="img/png/planet.png", alt="Planet", loading="lazy")
                        .parallax 
                            .parallax-box 
                                .parallax-box__content
                                    p Esta p치gina ha sido creada para mostrar mis componentes web que he creado
                            .parallax-box 
                                .parallax-box__content
                                    h3 F치cil de usar desde el backend
                                    p Creados usando 100% css y javascript, sin framworks ni librerias
                            .parallax-box 
                                .parallax-box__content
                                    h3 Opensource
                                    p Estoy trabajando en documentarlos y empaquetarlos para poder compartir mis componentes como un proyecto opensource 
                    .space.alien-section
                        img(src="img/png/ovni.png", alt="Space Image" loading="lazy")
                    .no-parallax 
                        h2 Libre de Frameworks
                    .space.comet-section
                        img(src="img/png/cometa.png", alt="Space Image" loading="lazy")
                    .no-parallax 
                        h2 C칩digo abierto
                    .space.astronaut-section            
                        img(src="img/png/astronauta.png", alt="Space Image" loading="lazy")
        script(src="js/app_stars.js") 
        script(src="js/app_parallax.js") 